// Callout
.callout {
  // min-height: 30rem;
  height: 960px;
  width: 100%;
  // height: auto;
  padding: 0;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/prayer1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
  }
  @media (min-width: 992px) {
    height: 960px;
    h1 {
      font-size: 5.5rem;
    }
  }
  .calendar-square {
    background-color: #333;
    width: 0.5rem;
    height: 10px;
    opacity: 1.0;
    padding: 0;
    cursor: pointer;

    &:hover {
      background-color: #777;
      opacity: 1.0;
    }
  }
}

.header {
  text-align: center;
}
